.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.auth-slogen {
  color: #ffbc1f;
  font-size: 14px;
  margin-top: 5px;
}

.auth-logo {
  width: 300px;
}

.auth-title {
  color: #ffff;
  font-weight: 700;
  font-size: 20px;
  margin: 20px 0 10px;
}

form {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  text-align: center;
}

.form-group input.input-error {
  border-color: #e74c3c;
}

.error {
  font-size: 12px;
  color: #e74c3c;
  margin-top: 5px;
}

.success-message {
  color: #2ecc71;
  text-align: center;
  font-size: 16px;
}

.signup-button {
  width: 100%;
  padding: 12px;
  background-color: #f4d63d;
  font-weight: 700;
  color: #000000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-link-container {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
}

.auth-link-container a {
  color: #3da9f4;
  text-decoration: none;
}

.auth-link-container a:hover {
  color: #048ef1;
}

.auth-toggle-container {
  text-align: center;
  margin-bottom: 15px;
}

.auth-toggle-button {
  background: none;
  border: none;
  color: #3da9f4;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  padding: 0;
}

.auth-toggle-button:hover {
  color: #048ef1;
}

.password-reset-container-api-message-container {
  color: #2ecc71;
  margin: 5px;
  text-align: center;
}

.password-reset-container-error-container {
  color: #e74c3c;
  margin: 5px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .auth-slogen {
    font-size: 10px;
  }

  .auth-logo {
    width: 170px;
  }
}
