.update-password-error-message {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  background-color: #f8d7da;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
}
